<!DOCTYPE html>
<html lang="en">

<head>
<%- include('../partials/head') %>
</head>

<body>
    <header>
<%- include('../partials/header') %> 
    </header>
    <div id="overlay"></div>
    <section id="main">
      <%- include('../partials/articles') %> 
    </section>
    <footer>
 <%- include('../partials/footer') %> 
    </footer>
</body>

</html>